.map-box {
    position: relative;
    max-width: 100px;
    margin: 0 auto;
    width:  -50%;
    height: 50px;
    left: 50px;
}

.map-box iframe {
    width: 500%;
    height: 500px;
    border: 0;
}

.map-marker {
    position: absolute;
    top: 370%; /* ajusta */
    left: 240%; /* ajusta */
    transform: translate(-80%, -100%);
    font-size: 42px;
    color: #c2a14d;
    pointer-events: none;
}
